#rocks {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#rocks li {
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 12px;
    width: 100px;
    height: 300px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px #ccc;
    transition: transform 200ms ease-in-out;
}

#rocks li:hover {
    box-shadow: 2px 2px 3px #bbb;
    transform: translate3d(-1px, -1px, 0);
}

#rocks li h3 {
    font-size: 0.6rem;
    margin: 5px;
}

#rocks li img {
    width: 50%;
    margin-top: 10px;
}

.price {
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price button {
    transition: color 200ms ease-in-out;
}
.price button:hover {
    background: #aaa;
    color: white;
}